body {
    background-color: #1F2937;
    display: flex;
    justify-content: flex-end;
}

.header {
    font-family: "Roboto";
    display: flex;
    margin:10px
}

.main_header {
    font: 24px;
    color: #F9FAF8;
    border:2px solid;
    align-self: flex-start;
}

.links{
    font: 18px;
    color: #E5E7EB;
    border:2px solid;
}

