body {
    margin-left: 48px;
    margin-right: 48px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #1F2937;
    display: flex;
}

.header {
    border: 0px solid white;
    width: 100vh;
    height: 100vh;
    font-family: "Roboto";
    display: flex;
    justify-content: space-between;
    
}

.mainheader {
    font-size: 24px;
    color: #F9FAF8;
}

.links{
    font-size: 18px; 
    color: #E5E7EB;
    align-items: right;
}

.links.link_one {
    align-self: center;
}

